<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Árboles</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Árboles</h1>
        
        <a href="/">Inicio</a> | <a href="arboles">Árboles</a>
        
        <h2>Árboles de Costa Rica</h2>
        <img src="/arbol1.jpg" alt=""/>
    </body>
</html>
